/*
 * Authors: Leo Kling, Milan Jezovsek
 *
 * Purpose: This file contains the global styles for the Dumpster application,
 * including custom fonts, animations, and styles for various components.
 */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka Web";
  src: url("/fonts/iosevka-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka Web";
  src: url("/fonts/iosevka-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka Web";
  src: url("/fonts/iosevka-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans-italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans-regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-pixel: "Pixelify Sans", system-ui, sans-serif;
  --color-jam-600: #ff4242;
  --color-jam-700: #ff2929;
  --font-mono: "Iosevka Web", ui-monospace, monospace;
}

:root {
  --tailwind-border-radius: 4px;
}

.pixelate {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.animate-collapsible-down {
  animation: collapsible-down 0.2s ease-out;
}

.animate-collapsible-up {
  animation: collapsible-up 0.2s ease-out;
}

/*
* !important needed here to override react-flow styles
*/

.react-flow__nodesselection-rect {
  border-radius: var(--tailwind-border-radius) !important;
  border: 1px dotted var(--color-blue-300) !important;
}

.react-flow__node.selected {
  background-color: var(--color-slate-700) !important;
  border-radius: var(--tailwind-border-radius) !important;
}

.react-flow__node {
  background-color: var(--color-slate-800) !important;
  border-radius: var(--tailwind-border-radius) !important;
}

.react-flow__node-group {
  background: var(--color-slate-900) 50% !important;
}
.react-flow__node-group.selected {
  background: var(--color-slate-800) !important;
}
