@import "tailwindcss";

@font-face {
  font-family: "FreaksOfNatureMassive";
  src: url(./assets/FREAKSOFNATUREMASSIVE.ttf) format("truetype");
}
@font-face {
  font-family: "FreaksOfNature";
  src: url(./assets/FREAKSOFNATURE.ttf) format("truetype");
}

@theme {
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-pixel: "Pixelify Sans", system-ui, sans-serif;
  --font-fonm: "FreaksOfNatureMassive", system-ui, sans-serif;
  --font-fon: "FreaksOfNature", system-ui, sans-serif;
  --color-jam-600: #ff4242;
  --font-mono: "Iosevka Web", ui-monospace, monospace;
}

.react-flow__nodesselection-rect {
  border-radius: 5px !important;
  border: 1px dotted var(--color-blue-300) !important;
}

/*
* important actually important
*/
.react-flow__node.selected {
  background-color: var(--color-slate-600) !important;
  border-radius: 5px !important;
}

.react-flow__node {
  background-color: var(--color-slate-800) !important;
  border-radius: 5px !important;
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
 } */
