@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "FreaksOfNatureMassive";
  src: url(./assets/FREAKSOFNATUREMASSIVE.ttf) format("truetype");
}
@font-face {
  font-family: "FreaksOfNature";
  src: url(./assets/FREAKSOFNATURE.ttf) format("truetype");
}

@theme {
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-pixel: "Pixelify Sans", system-ui, sans-serif;
  --font-fonm: "FreaksOfNatureMassive", system-ui, sans-serif;
  --font-fon: "FreaksOfNature", system-ui, sans-serif;
  --color-jam-600: #ff4242;
  --color-jam-700: #ff2929;
  --font-mono: "Iosevka Web", ui-monospace, monospace;
}

:root {
  --tailwind-border-radius: 4px;
}

/*
* !important needed here to override react-flow styles
*/

.react-flow__nodesselection-rect {
  border-radius: var(--tailwind-border-radius) !important;
  border: 1px dotted var(--color-blue-300) !important;
}

.react-flow__node.selected {
  background-color: var(--color-slate-700) !important;
  border-radius: var(--tailwind-border-radius) !important;
}

.react-flow__node {
  background-color: var(--color-slate-800) !important;
  border-radius: var(--tailwind-border-radius) !important;
}
